@import "tailwindcss";

@theme inline {
  --color-primary: #f45925;
  --color-primary-light: #33150c;
  --color-background-page: #000000;
  --color-surface: #121212;
  --color-text-main: #f9fafb;
  --color-text-sub: #9ca3af;

  --font-display: var(--font-plus-jakarta-sans);

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;

  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.8);
  --shadow-soft-hover: 0 10px 30px -3px rgba(244, 89, 37, 0.15);
}

body {
  background: var(--color-background-page);
  color: var(--color-text-main);
  font-family: var(--font-display), sans-serif;
}
